CONFIG_USE_FREERTOS=y

#
# Arch configuration
#
CONFIG_TARGET_ARMv8=y
CONFIG_ARCH_NAME="armv8"

#
# Arm architecture configuration
#
CONFIG_ARCH_ARMV8_AARCH64=y
# CONFIG_ARCH_ARMV8_AARCH32 is not set

#
# Compiler configuration
#
CONFIG_ARM_GCC_SELECT=y
# CONFIG_ARM_CLANG_SELECT is not set
CONFIG_TOOLCHAIN_NAME="gcc"
CONFIG_TARGET_ARMV8_AARCH64=y
CONFIG_ARCH_EXECUTION_STATE="aarch64"

#
# Fpu configuration
#
CONFIG_ARM_NEON=y
# end of Fpu configuration

CONFIG_ARM_CRC=y
CONFIG_ARM_CRYPTO=y
CONFIG_ARM_FLOAT_POINT=y
# CONFIG_GCC_CODE_MODEL_TINY is not set
CONFIG_GCC_CODE_MODEL_SMALL=y
# CONFIG_GCC_CODE_MODEL_LARGE is not set
# end of Compiler configuration

CONFIG_USE_CACHE=y
CONFIG_USE_MMU=y
# CONFIG_BOOT_WITH_FLUSH_CACHE is not set
# CONFIG_MMU_DEBUG_PRINTS is not set
# end of Arm architecture configuration
# end of Arch configuration

#
# Soc configuration
#
# CONFIG_TARGET_PHYTIUMPI is not set
CONFIG_TARGET_E2000Q=y
# CONFIG_TARGET_E2000D is not set
# CONFIG_TARGET_E2000S is not set
# CONFIG_TARGET_FT2004 is not set
# CONFIG_TARGET_D2000 is not set
CONFIG_SOC_NAME="e2000"
CONFIG_TARGET_TYPE_NAME="q"
CONFIG_SOC_CORE_NUM=4
CONFIG_F32BIT_MEMORY_ADDRESS=0x80000000
CONFIG_F32BIT_MEMORY_LENGTH=0x80000000
CONFIG_F64BIT_MEMORY_ADDRESS=0x2000000000
CONFIG_F64BIT_MEMORY_LENGTH=0x800000000
CONFIG_TARGET_E2000=y
# CONFIG_USE_SPINLOCK is not set
CONFIG_DEFAULT_DEBUG_PRINT_UART1=y
# CONFIG_DEFAULT_DEBUG_PRINT_UART0 is not set
# CONFIG_DEFAULT_DEBUG_PRINT_UART2 is not set
# end of Soc configuration

#
# Board Configuration
#
CONFIG_BOARD_NAME="demo"
# CONFIG_USE_SPI_IOPAD is not set
# CONFIG_USE_GPIO_IOPAD is not set
# CONFIG_USE_CAN_IOPAD is not set
# CONFIG_USE_QSPI_IOPAD is not set
# CONFIG_USE_PWM_IOPAD is not set
# CONFIG_USE_MIO_IOPAD is not set
# CONFIG_USE_TACHO_IOPAD is not set
# CONFIG_USE_UART_IOPAD is not set
# CONFIG_USE_THIRD_PARTY_IOPAD is not set
CONFIG_E2000Q_DEMO_BOARD=y

#
# IO mux configuration when board start up
#
# end of IO mux configuration when board start up

# CONFIG_CUS_DEMO_BOARD is not set

#
# Build project name
#
CONFIG_TARGET_NAME="pwm"
# end of Build project name
# end of Board Configuration

#
# Sdk common configuration
#
# CONFIG_LOG_VERBOS is not set
# CONFIG_LOG_DEBUG is not set
CONFIG_LOG_INFO=y
# CONFIG_LOG_WARN is not set
# CONFIG_LOG_ERROR is not set
# CONFIG_LOG_NONE is not set
# CONFIG_LOG_EXTRA_INFO is not set
# CONFIG_LOG_DISPALY_CORE_NUM is not set
# CONFIG_BOOTUP_DEBUG_PRINTS is not set
CONFIG_USE_DEFAULT_INTERRUPT_CONFIG=y
CONFIG_INTERRUPT_ROLE_MASTER=y
# CONFIG_INTERRUPT_ROLE_SLAVE is not set
# end of Sdk common configuration

#
# Image information configuration
#
# CONFIG_IMAGE_INFO is not set
# end of Image information configuration

#
# Drivers configuration
#
CONFIG_USE_IOMUX=y
# CONFIG_ENABLE_IOCTRL is not set
CONFIG_ENABLE_IOPAD=y
# CONFIG_USE_SPI is not set
# CONFIG_USE_QSPI is not set
CONFIG_USE_GIC=y
CONFIG_ENABLE_GICV3=y
CONFIG_USE_SERIAL=y

#
# Usart Configuration
#
CONFIG_ENABLE_Pl011_UART=y
# end of Usart Configuration

# CONFIG_USE_GPIO is not set
# CONFIG_USE_ETH is not set
# CONFIG_USE_CAN is not set
# CONFIG_USE_I2C is not set
# CONFIG_USE_TIMER is not set
# CONFIG_USE_MIO is not set
# CONFIG_USE_SDMMC is not set
# CONFIG_USE_PCIE is not set
# CONFIG_USE_WDT is not set
# CONFIG_USE_DMA is not set
# CONFIG_USE_NAND is not set
# CONFIG_USE_RTC is not set
# CONFIG_USE_SATA is not set
# CONFIG_USE_USB is not set
# CONFIG_USE_ADC is not set
CONFIG_USE_PWM=y

#
# FPWM Configuration
#
CONFIG_USE_FPWM=y
# end of FPWM Configuration

# CONFIG_USE_IPC is not set
# CONFIG_USE_MEDIA is not set
# CONFIG_USE_SCMI_MHU is not set
# end of Drivers configuration

#
# Build setup
#
CONFIG_CHECK_DEPS=y
CONFIG_OUTPUT_BINARY=y

#
# Optimization options
#
# CONFIG_DEBUG_NOOPT is not set
# CONFIG_DEBUG_CUSTOMOPT is not set
CONFIG_DEBUG_FULLOPT=y
# CONFIG_DEBUG_ENABLE_ALL_WARNING is not set
CONFIG_DEBUG_OPT_UNUSED_SECTIONS=y
CONFIG_DEBUG_LINK_MAP=y
# CONFIG_CCACHE is not set
# CONFIG_ARCH_COVERAGE is not set
# CONFIG_LTO_FULL is not set
# end of Optimization options

#
# Debug options
#
# CONFIG_WALL_WARNING_ERROR is not set
# CONFIG_STRICT_PROTOTYPES is not set
# CONFIG_DEBUG_SYMBOLS is not set
# CONFIG_FRAME_POINTER is not set
# CONFIG_OUTPUT_ASM_DIS is not set
# CONFIG_ENABLE_WSHADOW is not set
# CONFIG_ENABLE_WUNDEF is not set
CONFIG_DOWNGRADE_DIAG_WARNING=y
# end of Debug options

#
# Lib
#
CONFIG_USE_COMPILE_CHAIN=y
# CONFIG_USB_USER_DEFINED is not set
# end of Lib

# CONFIG_ENABLE_CXX is not set

#
# Linker Options
#
CONFIG_DEFAULT_LINKER_SCRIPT=y
# CONFIG_USER_DEFINED_LD is not set
CONFIG_IMAGE_LOAD_ADDRESS=0x80100000
CONFIG_IMAGE_MAX_LENGTH=0x1000000
CONFIG_HEAP_SIZE=1
CONFIG_STACK_SIZE=0x100000
CONFIG_FPU_STACK_SIZE=0x1000
# end of Linker Options
# end of Build setup

#
# Component Configuration
#

#
# Freertos Uart Drivers
#
CONFIG_FREERTOS_USE_UART=y
# end of Freertos Uart Drivers

#
# Freertos Pwm Drivers
#
CONFIG_FREERTOS_USE_PWM=y
# end of Freertos Pwm Drivers

#
# Freertos Qspi Drivers
#
# CONFIG_FREERTOS_USE_QSPI is not set
# end of Freertos Qspi Drivers

#
# Freertos Wdt Drivers
#
# CONFIG_FREERTOS_USE_WDT is not set
# end of Freertos Wdt Drivers

#
# Freertos Eth Drivers
#
# CONFIG_FREERTOS_USE_XMAC is not set
# CONFIG_FREERTOS_USE_GMAC is not set
# end of Freertos Eth Drivers

#
# Freertos Gpio Drivers
#
# CONFIG_FREERTOS_USE_GPIO is not set
# end of Freertos Gpio Drivers

#
# Freertos Spim Drivers
#
# CONFIG_FREERTOS_USE_FSPIM is not set
# end of Freertos Spim Drivers

#
# Freertos DMA Drivers
#
# CONFIG_FREERTOS_USE_FDDMA is not set
# CONFIG_FREERTOS_USE_FGDMA is not set
# end of Freertos DMA Drivers

#
# Freertos Adc Drivers
#
# CONFIG_FREERTOS_USE_ADC is not set
# end of Freertos Adc Drivers

#
# Freertos Can Drivers
#
# CONFIG_FREERTOS_USE_CAN is not set
# end of Freertos Can Drivers

#
# Freertos I2c Drivers
#
# CONFIG_FREERTOS_USE_I2C is not set
# end of Freertos I2c Drivers

#
# Freertos Mio Drivers
#
# CONFIG_FREERTOS_USE_MIO is not set
# end of Freertos Mio Drivers

#
# Freertos Timer Drivers
#
# CONFIG_FREERTOS_USE_TIMER is not set
# end of Freertos Timer Drivers

#
# Freertos Media Drivers
#
# CONFIG_FREERTOS_USE_MEDIA is not set
# end of Freertos Media Drivers
# end of Component Configuration

#
# Third-party configuration
#
# CONFIG_USE_LWIP is not set
CONFIG_USE_LETTER_SHELL=y

#
# Letter Shell Configuration
#
CONFIG_LS_PL011_UART=y
CONFIG_DEFAULT_LETTER_SHELL_USE_UART1=y
# CONFIG_DEFAULT_LETTER_SHELL_USE_UART0 is not set
# CONFIG_DEFAULT_LETTER_SHELL_USE_UART2 is not set
# end of Letter Shell Configuration

# CONFIG_USE_AMP is not set
# CONFIG_USE_SDMMC_CMD is not set
# CONFIG_USE_YMODEM is not set
# CONFIG_USE_SFUD is not set
CONFIG_USE_BACKTRACE=y
# CONFIG_USE_FATFS_0_1_4 is not set
CONFIG_USE_TLSF=y
# CONFIG_USE_SPIFFS is not set
# CONFIG_USE_LITTLE_FS is not set
# CONFIG_USE_LVGL is not set
# CONFIG_USE_FREEMODBUS is not set
# CONFIG_USE_CHERRY_USB is not set
# end of Third-party configuration

#
# Kernel Configuration
#
CONFIG_FREERTOS_OPTIMIZED_SCHEDULER=y
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_MAX_PRIORITIES=32
CONFIG_FREERTOS_KERNEL_INTERRUPT_PRIORITIES=13
CONFIG_FREERTOS_MAX_API_CALL_INTERRUPT_PRIORITIES=11
CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=1
CONFIG_FREERTOS_MINIMAL_TASK_STACKSIZE=1024
CONFIG_FREERTOS_MAX_TASK_NAME_LEN=32
CONFIG_FREERTOS_TIMER_TASK_PRIORITY=1
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=2048
CONFIG_FREERTOS_TIMER_QUEUE_LENGTH=10
CONFIG_FREERTOS_QUEUE_REGISTRY_SIZE=0
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
# CONFIG_FREERTOS_USE_TICKLESS_IDLE is not set
CONFIG_FREERTOS_TOTAL_HEAP_SIZE=10240
CONFIG_FREERTOS_TASK_FPU_SUPPORT=1
# end of Kernel Configuration
