
#
# Example Configuration
#
CONFIG_EXAMPLE_IPV4_V6=y
# CONFIG_EXAMPLE_IPV4_ONLY is not set
CONFIG_EXAMPLE_IPV4=y
CONFIG_EXAMPLE_IPV6=y
CONFIG_EXAMPLE_MULTICAST_IPV4_ADDR="232.10.12.10"
CONFIG_EXAMPLE_MULTICAST_IPV6_ADDR="FF02::FD"
CONFIG_EXAMPLE_PORT=6750
# CONFIG_EXAMPLE_LOOPBACK is not set
CONFIG_EXAMPLE_MULTICAST_TTL=255
# CONFIG_EXAMPLE_MULTICAST_LISTEN_ALL_IF is not set
CONFIG_EXAMPLE_MULTICAST_LISTEN_DEFAULT_IF=y
# end of Example Configuration

CONFIG_USE_FREERTOS=y

#
# Arch configuration
#
CONFIG_TARGET_ARMv8=y
CONFIG_ARCH_NAME="armv8"

#
# Arm architecture configuration
#
CONFIG_ARCH_ARMV8_AARCH64=y
# CONFIG_ARCH_ARMV8_AARCH32 is not set

#
# Compiler configuration
#
CONFIG_ARM_GCC_SELECT=y
# CONFIG_ARM_CLANG_SELECT is not set
CONFIG_TOOLCHAIN_NAME="gcc"
CONFIG_TARGET_ARMV8_AARCH64=y
CONFIG_ARCH_EXECUTION_STATE="aarch64"

#
# Fpu configuration
#
CONFIG_ARM_NEON=y
# end of Fpu configuration

CONFIG_ARM_CRC=y
CONFIG_ARM_CRYPTO=y
CONFIG_ARM_FLOAT_POINT=y
# CONFIG_GCC_CODE_MODEL_TINY is not set
CONFIG_GCC_CODE_MODEL_SMALL=y
# CONFIG_GCC_CODE_MODEL_LARGE is not set
# end of Compiler configuration

CONFIG_USE_CACHE=y
# CONFIG_USE_L3CACHE is not set
CONFIG_USE_MMU=y
# CONFIG_BOOT_WITH_FLUSH_CACHE is not set
# CONFIG_MMU_DEBUG_PRINTS is not set
# end of Arm architecture configuration
# end of Arch configuration

#
# Soc configuration
#
# CONFIG_TARGET_PHYTIUMPI is not set
# CONFIG_TARGET_E2000Q is not set
# CONFIG_TARGET_E2000D is not set
# CONFIG_TARGET_E2000S is not set
# CONFIG_TARGET_FT2004 is not set
CONFIG_TARGET_D2000=y
CONFIG_SOC_NAME="d2000"
CONFIG_SOC_CORE_NUM=8
CONFIG_F32BIT_MEMORY_ADDRESS=0x80000000
CONFIG_F32BIT_MEMORY_LENGTH=0x80000000
CONFIG_F64BIT_MEMORY_ADDRESS=0x2000000000
CONFIG_F64BIT_MEMORY_LENGTH=0x800000000
# CONFIG_USE_SPINLOCK is not set
CONFIG_DEFAULT_DEBUG_PRINT_UART1=y
# CONFIG_DEFAULT_DEBUG_PRINT_UART0 is not set
# CONFIG_DEFAULT_DEBUG_PRINT_UART2 is not set
# end of Soc configuration

#
# Board Configuration
#
CONFIG_BOARD_NAME="test"
CONFIG_D2000_TEST_BOARD=y

#
# IO mux configuration when board start up
#
# CONFIG_CUS_DEMO_BOARD is not set

#
# Build project name
#
CONFIG_TARGET_NAME="udp_multicast"
# end of Build project name
# end of Board Configuration

#
# Sdk common configuration
#
# CONFIG_LOG_VERBOS is not set
# CONFIG_LOG_DEBUG is not set
CONFIG_LOG_INFO=y
# CONFIG_LOG_WARN is not set
# CONFIG_LOG_ERROR is not set
# CONFIG_LOG_NONE is not set
# CONFIG_LOG_EXTRA_INFO is not set
# CONFIG_LOG_DISPALY_CORE_NUM is not set
# CONFIG_BOOTUP_DEBUG_PRINTS is not set
CONFIG_USE_DEFAULT_INTERRUPT_CONFIG=y
CONFIG_INTERRUPT_ROLE_MASTER=y
# CONFIG_INTERRUPT_ROLE_SLAVE is not set
# end of Sdk common configuration

#
# Image information configuration
#
# CONFIG_IMAGE_INFO is not set
# end of Image information configuration

#
# Drivers configuration
#
CONFIG_USE_IOMUX=y
CONFIG_ENABLE_IOCTRL=y
# CONFIG_ENABLE_IOPAD is not set
# CONFIG_USE_SPI is not set
# CONFIG_USE_QSPI is not set
CONFIG_USE_GIC=y
CONFIG_ENABLE_GICV3=y
CONFIG_USE_SERIAL=y

#
# Usart Configuration
#
CONFIG_ENABLE_Pl011_UART=y
# end of Usart Configuration

# CONFIG_USE_GPIO is not set
CONFIG_USE_ETH=y

#
# Eth Configuration
#
# CONFIG_ENABLE_FXMAC is not set
CONFIG_ENABLE_FGMAC=y
CONFIG_FGMAC_PHY_COMMON=y
# CONFIG_FGMAC_PHY_AR803X is not set
# end of Eth Configuration

# CONFIG_USE_CAN is not set
# CONFIG_USE_I2C is not set
# CONFIG_USE_TIMER is not set
# CONFIG_USE_MIO is not set
# CONFIG_USE_SDMMC is not set
# CONFIG_USE_PCIE is not set
# CONFIG_USE_WDT is not set
# CONFIG_USE_DMA is not set
# CONFIG_USE_NAND is not set
# CONFIG_USE_RTC is not set
# CONFIG_USE_SATA is not set
# CONFIG_USE_USB is not set
# CONFIG_USE_ADC is not set
# CONFIG_USE_PWM is not set
# CONFIG_USE_IPC is not set
# CONFIG_USE_MEDIA is not set
# CONFIG_USE_SCMI_MHU is not set
# end of Drivers configuration

#
# Build setup
#
CONFIG_CHECK_DEPS=y
CONFIG_OUTPUT_BINARY=y

#
# Optimization options
#
# CONFIG_DEBUG_NOOPT is not set
# CONFIG_DEBUG_CUSTOMOPT is not set
CONFIG_DEBUG_FULLOPT=y
# CONFIG_DEBUG_ENABLE_ALL_WARNING is not set
CONFIG_DEBUG_OPT_UNUSED_SECTIONS=y
CONFIG_DEBUG_LINK_MAP=y
# CONFIG_CCACHE is not set
# CONFIG_ARCH_COVERAGE is not set
# CONFIG_LTO_FULL is not set
# end of Optimization options

#
# Debug options
#
# CONFIG_WALL_WARNING_ERROR is not set
# CONFIG_STRICT_PROTOTYPES is not set
# CONFIG_DEBUG_SYMBOLS is not set
# CONFIG_FRAME_POINTER is not set
# CONFIG_OUTPUT_ASM_DIS is not set
# CONFIG_ENABLE_WSHADOW is not set
# CONFIG_ENABLE_WUNDEF is not set
CONFIG_DOWNGRADE_DIAG_WARNING=y
# end of Debug options

#
# Lib
#
CONFIG_USE_COMPILE_CHAIN=y
# CONFIG_USB_USER_DEFINED is not set
# end of Lib

# CONFIG_ENABLE_CXX is not set

#
# Linker Options
#
CONFIG_DEFAULT_LINKER_SCRIPT=y
# CONFIG_USER_DEFINED_LD is not set
CONFIG_IMAGE_LOAD_ADDRESS=0x80100000
CONFIG_IMAGE_MAX_LENGTH=0x1000000
CONFIG_HEAP_SIZE=1
CONFIG_STACK_SIZE=0x400
CONFIG_FPU_STACK_SIZE=0x1000
# end of Linker Options
# end of Build setup

#
# Component Configuration
#

#
# Freertos Uart Drivers
#
CONFIG_FREERTOS_USE_UART=y
# end of Freertos Uart Drivers

#
# Freertos Pwm Drivers
#
# CONFIG_FREERTOS_USE_PWM is not set
# end of Freertos Pwm Drivers

#
# Freertos Qspi Drivers
#
# CONFIG_FREERTOS_USE_QSPI is not set
# end of Freertos Qspi Drivers

#
# Freertos Wdt Drivers
#
# CONFIG_FREERTOS_USE_WDT is not set
# end of Freertos Wdt Drivers

#
# Freertos Eth Drivers
#
# CONFIG_FREERTOS_USE_XMAC is not set
CONFIG_FREERTOS_USE_GMAC=y
# end of Freertos Eth Drivers

#
# Freertos Gpio Drivers
#
# CONFIG_FREERTOS_USE_GPIO is not set
# end of Freertos Gpio Drivers

#
# Freertos Spim Drivers
#
# CONFIG_FREERTOS_USE_FSPIM is not set
# end of Freertos Spim Drivers

#
# Freertos DMA Drivers
#
# CONFIG_FREERTOS_USE_FDDMA is not set
# CONFIG_FREERTOS_USE_FGDMA is not set
# end of Freertos DMA Drivers

#
# Freertos Adc Drivers
#
# CONFIG_FREERTOS_USE_ADC is not set
# end of Freertos Adc Drivers

#
# Freertos Can Drivers
#
# CONFIG_FREERTOS_USE_CAN is not set
# end of Freertos Can Drivers

#
# Freertos I2c Drivers
#
# CONFIG_FREERTOS_USE_I2C is not set
# end of Freertos I2c Drivers

#
# Freertos Mio Drivers
#
# CONFIG_FREERTOS_USE_MIO is not set
# end of Freertos Mio Drivers

#
# Freertos Timer Drivers
#
# CONFIG_FREERTOS_USE_TIMER is not set
# end of Freertos Timer Drivers

#
# Freertos Media Drivers
#
# CONFIG_FREERTOS_USE_MEDIA is not set
# end of Freertos Media Drivers
# end of Component Configuration

#
# Third-party configuration
#
CONFIG_USE_LWIP=y

#
# LWIP Freertos Port Configuration
#

#
# LWIP Configuration
#

#
# LWIP Port Configuration
#
# CONFIG_LWIP_FXMAC is not set
CONFIG_LWIP_FGMAC=y
# CONFIG_LWIP_RX_POLL is not set
# end of LWIP Port Configuration

# CONFIG_LWIP_NO_SYS is not set
CONFIG_LWIP_LOCAL_HOSTNAME="phytium"

#
# LWIP_APP
#
# CONFIG_USE_LWIP_APP_LWIPERF is not set
# CONFIG_USE_LWIP_APP_PING is not set
# CONFIG_USE_LWIP_APP_TFTP is not set
# end of LWIP_APP

#
# Memory configuration
#
# CONFIG_LWIP_USE_MEM_POOL is not set
CONFIG_LWIP_USE_MEM_HEAP=y
# CONFIG_LWIP_USE_MEM_HEAP_DEBUG is not set
CONFIG_MEM_SIZE=1
CONFIG_MEM_ALIGNMENT=64
# end of Memory configuration

#
# Pbuf options
#
CONFIG_PBUF_POOL_BUFSIZE=2
CONFIG_PBUF_POOL_SIZE=1
# end of Pbuf options

#
# ARP
#
CONFIG_ARP_QUEUEING_EN=y
# end of ARP

#
# IPV4
#
# CONFIG_USE_IPV4_ONLY is not set
CONFIG_LWIP_IP4_REASSEMBLY=y
CONFIG_LWIP_IP4_FRAG=y
# CONFIG_LWIP_IP_FORWARD is not set
CONFIG_IP_REASS_MAX_PBUFS=45
# end of IPV4

#
# ICMP
#
CONFIG_LWIP_ICMP=y
CONFIG_LWIP_MULTICAST_PING=y
# CONFIG_LWIP_BROADCAST_PING is not set
# end of ICMP

#
# LWIP RAW API
#
CONFIG_LWIP_RAW_API_EN=y
CONFIG_LWIP_MAX_RAW_PCBS=16
# end of LWIP RAW API

#
# DHCP
#
CONFIG_LWIP_DHCP_ENABLE=y
# CONFIG_LWIP_DHCP_DOES_ARP_CHECK is not set
# CONFIG_LWIP_DHCP_GET_NTP_SRV is not set
# CONFIG_LWIP_DHCP_DISABLE_CLIENT_ID is not set
# CONFIG_LWIP_DHCP_RESTORE_LAST_IP is not set
CONFIG_LWIP_DHCP_OPTIONS_LEN=68
CONFIG_LWIP_DHCP_DISABLE_VENDOR_CLASS_ID=y
# end of DHCP

#
# AUTOIP
#
# CONFIG_LWIP_AUTOIP is not set
# end of AUTOIP

#
# IGMP
#
CONFIG_LWIP_IGMP_EN=y
# end of IGMP

#
# DNS
#
CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=y
# end of DNS

#
# UDP
#
CONFIG_LWIP_MAX_UDP_PCBS=16
CONFIG_LWIP_UDP_RECVMBOX_SIZE=6
# CONFIG_LWIP_NETBUF_RECVINFO is not set
# end of UDP

#
# TCP
#
CONFIG_LWIP_TCP_WND_DEFAULT=5744
CONFIG_LWIP_TCP_MAXRTX=12
CONFIG_LWIP_TCP_SYNMAXRTX=12
CONFIG_LWIP_TCP_QUEUE_OOSEQ=y
# CONFIG_LWIP_TCP_SACK_OUT is not set
CONFIG_LWIP_TCP_MSS=1440
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=5744
CONFIG_LWIP_TCP_OVERSIZE_MSS=y
# CONFIG_LWIP_TCP_OVERSIZE_QUARTER_MSS is not set
# CONFIG_LWIP_TCP_OVERSIZE_DISABLE is not set
CONFIG_LWIP_TCP_TMR_INTERVAL=250
CONFIG_LWIP_TCP_MSL=60000
# CONFIG_LWIP_WND_SCALE is not set
CONFIG_LWIP_TCP_RTO_TIME=1500
CONFIG_LWIP_MAX_ACTIVE_TCP=16
CONFIG_LWIP_MAX_LISTENING_TCP=16
CONFIG_LWIP_TCP_HIGH_SPEED_RETRANSMISSION=y
CONFIG_LWIP_TCP_RECVMBOX_SIZE=6
# end of TCP

#
# Network_Interface
#
# CONFIG_LWIP_NETIF_API is not set
# CONFIG_LWIP_NETIF_STATUS_CALLBACK is not set
# end of Network_Interface

#
# LOOPIF
#
CONFIG_LWIP_NETIF_LOOPBACK=y
CONFIG_LWIP_LOOPBACK_MAX_PBUFS=8
# end of LOOPIF

#
# SLIPIF
#
# CONFIG_LWIP_SLIP_SUPPORT is not set
# end of SLIPIF

CONFIG_LWIP_TCPIP_CORE_LOCKING=y

#
# Socket
#
CONFIG_LWIP_MAX_SOCKETS=10
# CONFIG_LWIP_SO_LINGER is not set
CONFIG_LWIP_SO_REUSE=y
CONFIG_LWIP_SO_REUSE_RXTOALL=y
# end of Socket

# CONFIG_LWIP_STATS is not set

#
# PPP
#
# CONFIG_LWIP_PPP_SUPPORT is not set
CONFIG_LWIP_IPV6_MEMP_NUM_ND6_QUEUE=3
CONFIG_LWIP_IPV6_ND6_NUM_NEIGHBORS=5
# end of PPP

#
# Checksums
#
# CONFIG_LWIP_CHECKSUM_CHECK_IP is not set
# CONFIG_LWIP_CHECKSUM_CHECK_UDP is not set
CONFIG_LWIP_CHECKSUM_CHECK_ICMP=y
# end of Checksums

#
# IPV6
#
CONFIG_LWIP_IPV6=y
# CONFIG_LWIP_IPV6_AUTOCONFIG is not set
CONFIG_LWIP_IPV6_NUM_ADDRESSES=3
# CONFIG_LWIP_IPV6_FORWARD is not set
CONFIG_LWIP_IP6_FRAG=y
CONFIG_LWIP_IP6_REASSEMBLY=y
# end of IPV6

CONFIG_LWIP_DEBUG=y
# CONFIG_LWIP_DEBUG_ESP_LOG is not set
CONFIG_LWIP_NETIF_DEBUG=y
# CONFIG_LWIP_PBUF_DEBUG is not set
# CONFIG_LWIP_ETHARP_DEBUG is not set
# CONFIG_LWIP_API_LIB_DEBUG is not set
# CONFIG_LWIP_SOCKETS_DEBUG is not set
# CONFIG_LWIP_IP_DEBUG is not set
# CONFIG_LWIP_ICMP_DEBUG is not set
# CONFIG_LWIP_DHCP_STATE_DEBUG is not set
# CONFIG_LWIP_DHCP_DEBUG is not set
# CONFIG_LWIP_IP6_DEBUG is not set
# CONFIG_LWIP_ICMP6_DEBUG is not set
# CONFIG_LWIP_TCP_DEBUG is not set
# CONFIG_LWIP_UDP_DEBUG is not set
# CONFIG_LWIP_SNTP_DEBUG is not set
# CONFIG_LWIP_DNS_DEBUG is not set
# end of LWIP Configuration

#
# Tcp/ip task resource configuration
#
CONFIG_LWIP_TCPIP_TASK_STACK_SIZE=3072
CONFIG_LWIP_TCPIP_TASK_PRIO=5
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=32
# end of Tcp/ip task resource configuration

#
# lwip port thread Configuration
#
CONFIG_LWIP_PORT_USE_RECEIVE_THREAD=y
CONFIG_LWIP_PORT_RECEIVE_THREAD_STACKSIZE=2048
CONFIG_LWIP_PORT_RECEIVE_THREAD_PRIORITY=5
CONFIG_LWIP_PORT_USE_LINK_DETECT_THREAD=y
CONFIG_LWIP_PORT_LINK_DETECT_STACKSIZE=2048
CONFIG_LWIP_PORT_LINK_DETECT_PRIORITY=5
CONFIG_LWIP_PORT_DHCP_THREAD=y
CONFIG_LWIP_PORT_DHCP_STACKSIZE=4096
CONFIG_LWIP_PORT_DHCP_PRIORITY=5
# end of lwip port thread Configuration
# end of LWIP Freertos Port Configuration

CONFIG_USE_LETTER_SHELL=y

#
# Letter Shell Configuration
#
CONFIG_LS_PL011_UART=y
CONFIG_DEFAULT_LETTER_SHELL_USE_UART1=y
# CONFIG_DEFAULT_LETTER_SHELL_USE_UART0 is not set
# CONFIG_DEFAULT_LETTER_SHELL_USE_UART2 is not set
# end of Letter Shell Configuration

# CONFIG_USE_AMP is not set
# CONFIG_USE_SDMMC_CMD is not set
# CONFIG_USE_YMODEM is not set
# CONFIG_USE_SFUD is not set
CONFIG_USE_BACKTRACE=y
# CONFIG_USE_FATFS_0_1_4 is not set
CONFIG_USE_TLSF=y
# CONFIG_USE_SPIFFS is not set
# CONFIG_USE_LITTLE_FS is not set
# CONFIG_USE_LVGL is not set
# CONFIG_USE_FREEMODBUS is not set
# CONFIG_USE_CHERRY_USB is not set
# end of Third-party configuration

#
# Kernel Configuration
#
CONFIG_FREERTOS_OPTIMIZED_SCHEDULER=y
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_MAX_PRIORITIES=32
CONFIG_FREERTOS_KERNEL_INTERRUPT_PRIORITIES=11
CONFIG_FREERTOS_MAX_API_CALL_INTERRUPT_PRIORITIES=11
CONFIG_FREERTOS_THREAD_LOCAL_STORAGE_POINTERS=1
CONFIG_FREERTOS_MINIMAL_TASK_STACKSIZE=1024
CONFIG_FREERTOS_MAX_TASK_NAME_LEN=32
CONFIG_FREERTOS_TIMER_TASK_PRIORITY=1
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=2048
CONFIG_FREERTOS_TIMER_QUEUE_LENGTH=10
CONFIG_FREERTOS_QUEUE_REGISTRY_SIZE=0
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
# CONFIG_FREERTOS_USE_TICKLESS_IDLE is not set
CONFIG_FREERTOS_TOTAL_HEAP_SIZE=10240
CONFIG_FREERTOS_TASK_FPU_SUPPORT=1
# end of Kernel Configuration
