
#
# Project Configuration
#

#
#  Baremetal Configuration
#
CONFIG_TARGET_NAME="openamp_core0"
# end of  Baremetal Configuration

#
# AMP Config
#
CONFIG_IPI_IRQ_NUM=9
CONFIG_IPI_IRQ_NUM_PRIORITY=1
CONFIG_IPI_CHN_BITMASK=255
# end of AMP Config
# end of Project Configuration

CONFIG_USE_BAREMETAL=y

#
# Arch configuration
#
CONFIG_TARGET_ARMv8=y
CONFIG_ARCH_NAME="armv8"

#
# Arm architecture configuration
#
# CONFIG_ARCH_ARMV8_AARCH64 is not set
CONFIG_ARCH_ARMV8_AARCH32=y

#
# Compiler configuration
#
CONFIG_ARM_GCC_SELECT=y
# CONFIG_ARM_CLANG_SELECT is not set
CONFIG_TOOLCHAIN_NAME="gcc"
CONFIG_TARGET_ARMV8_AARCH32=y
CONFIG_ARCH_EXECUTION_STATE="aarch32"

#
# Fpu configuration
#
CONFIG_CRYPTO_NEON_FP_ARMV8=y
# CONFIG_VFPV4 is not set
# CONFIG_VFPV4_D16 is not set
# CONFIG_VFPV3 is not set
# CONFIG_VFPV3_D16 is not set
CONFIG_ARM_MFPU="crypto-neon-fp-armv8"
CONFIG_MFLOAT_ABI_HARD=y
# CONFIG_MFLOAT_ABI_SOFTFP is not set
CONFIG_ARM_MFLOAT_ABI="hard"
# end of Fpu configuration
# end of Compiler configuration

CONFIG_USE_CACHE=y
# CONFIG_USE_L3CACHE is not set
CONFIG_USE_MMU=y
CONFIG_USE_AARCH64_L1_TO_AARCH32=y
# end of Arm architecture configuration
# end of Arch configuration

#
# Soc configuration
#
# CONFIG_TARGET_PHYTIUMPI is not set
# CONFIG_TARGET_E2000Q is not set
# CONFIG_TARGET_E2000D is not set
# CONFIG_TARGET_E2000S is not set
# CONFIG_TARGET_FT2004 is not set
CONFIG_TARGET_D2000=y
CONFIG_SOC_NAME="d2000"
CONFIG_SOC_CORE_NUM=8
CONFIG_F32BIT_MEMORY_ADDRESS=0x80000000
CONFIG_F32BIT_MEMORY_LENGTH=0x80000000
CONFIG_F64BIT_MEMORY_ADDRESS=0x2000000000
CONFIG_F64BIT_MEMORY_LENGTH=0x800000000
CONFIG_USE_SPINLOCK=y
CONFIG_DEFAULT_DEBUG_PRINT_UART1=y
# CONFIG_DEFAULT_DEBUG_PRINT_UART0 is not set
# CONFIG_DEFAULT_DEBUG_PRINT_UART2 is not set
CONFIG_SPIN_MEM=0x80000000
# end of Soc configuration

#
# Board Configuration
#
CONFIG_BOARD_NAME="test"
CONFIG_D2000_TEST_BOARD=y

#
# IO mux configuration when board start up
#
# CONFIG_CUS_DEMO_BOARD is not set

#
# Build project name
#
# end of Build project name
# end of Board Configuration

#
# Sdk common configuration
#
# CONFIG_LOG_VERBOS is not set
CONFIG_LOG_DEBUG=y
# CONFIG_LOG_INFO is not set
# CONFIG_LOG_WARN is not set
# CONFIG_LOG_ERROR is not set
# CONFIG_LOG_NONE is not set
# CONFIG_LOG_EXTRA_INFO is not set
CONFIG_LOG_DISPALY_CORE_NUM=y
# CONFIG_BOOTUP_DEBUG_PRINTS is not set
CONFIG_USE_DEFAULT_INTERRUPT_CONFIG=y
# CONFIG_INTERRUPT_ROLE_MASTER is not set
CONFIG_INTERRUPT_ROLE_SLAVE=y
# end of Sdk common configuration

#
# Image information configuration
#
# CONFIG_IMAGE_INFO is not set
# end of Image information configuration

#
# Drivers configuration
#
CONFIG_USE_IOMUX=y
CONFIG_ENABLE_IOCTRL=y
# CONFIG_ENABLE_IOPAD is not set
# CONFIG_USE_SPI is not set
# CONFIG_USE_QSPI is not set
CONFIG_USE_SERIAL=y

#
# Usart Configuration
#
CONFIG_ENABLE_Pl011_UART=y
# end of Usart Configuration

# CONFIG_USE_GPIO is not set
# CONFIG_USE_ETH is not set
# CONFIG_USE_CAN is not set
# CONFIG_USE_I2C is not set
# CONFIG_USE_TIMER is not set
# CONFIG_USE_MIO is not set
# CONFIG_USE_SDMMC is not set
# CONFIG_USE_PCIE is not set
# CONFIG_USE_WDT is not set
# CONFIG_USE_DMA is not set
# CONFIG_USE_NAND is not set
# CONFIG_USE_RTC is not set
# CONFIG_USE_SATA is not set
# CONFIG_USE_USB is not set
# CONFIG_USE_ADC is not set
# CONFIG_USE_PWM is not set
# CONFIG_USE_IPC is not set
# CONFIG_USE_MEDIA is not set
# CONFIG_USE_SCMI_MHU is not set
# CONFIG_USE_I2S is not set
# end of Drivers configuration

#
# Third-party configuration
#
# CONFIG_USE_LWIP is not set
CONFIG_USE_LETTER_SHELL=y

#
# Letter shell configuration
#
CONFIG_LS_PL011_UART=y
CONFIG_DEFAULT_LETTER_SHELL_USE_UART1=y
# CONFIG_DEFAULT_LETTER_SHELL_USE_UART0 is not set
# CONFIG_DEFAULT_LETTER_SHELL_USE_UART2 is not set
# end of Letter shell configuration

CONFIG_USE_AMP=y
CONFIG_USE_LIBMETAL=y

#
# OpenAmp
#
CONFIG_USE_OPENAMP=y
CONFIG_USE_OPENAMP_IPI=y
CONFIG_OPENAMP_RESOURCES_ADDR=0xc0000000
CONFIG_VRING_TX_ADDR=0xffffffff
CONFIG_VRING_RX_ADDR=0xffffffff
CONFIG_VRING_SIZE=0x100
CONFIG_POLL_BASE_ADDR=0xc0224000
CONFIG_SKIP_SHBUF_IO_WRITE=y
CONFIG_USE_MASTER_VRING_DEFINE=y

#
# Baremetal config
#
# CONFIG_MEM_NO_CACHE is not set
# CONFIG_MEM_WRITE_THROUGH is not set
CONFIG_MEM_NORMAL=y
# end of Baremetal config
# end of OpenAmp

# CONFIG_USE_YMODEM is not set
# CONFIG_USE_SFUD is not set
# CONFIG_USE_FATFS_0_1_4 is not set
CONFIG_USE_TLSF=y
# CONFIG_USE_SPIFFS is not set
# CONFIG_USE_LITTLE_FS is not set
# CONFIG_USE_LVGL is not set
# CONFIG_USE_FREEMODBUS is not set
# CONFIG_USE_FSL_SDMMC is not set
# CONFIG_USE_MICROPYTHON is not set
# end of Third-party configuration

#
# Build setup
#
CONFIG_CHECK_DEPS=y
# CONFIG_OUTPUT_BINARY is not set

#
# Optimization options
#
CONFIG_DEBUG_NOOPT=y
# CONFIG_DEBUG_CUSTOMOPT is not set
# CONFIG_DEBUG_FULLOPT is not set
CONFIG_DEBUG_OPT_UNUSED_SECTIONS=y
CONFIG_DEBUG_LINK_MAP=y
# CONFIG_CCACHE is not set
# CONFIG_ARCH_COVERAGE is not set
# CONFIG_LTO_FULL is not set
# end of Optimization options

#
# Debug options
#
# CONFIG_DEBUG_ENABLE_ALL_WARNING is not set
# CONFIG_WALL_WARNING_ERROR is not set
# CONFIG_STRICT_PROTOTYPES is not set
CONFIG_DEBUG_SYMBOLS=y
# CONFIG_FRAME_POINTER is not set
# CONFIG_OUTPUT_ASM_DIS is not set
# CONFIG_ENABLE_WSHADOW is not set
# CONFIG_ENABLE_WUNDEF is not set
CONFIG_DOWNGRADE_DIAG_WARNING=y
# end of Debug options

#
# Lib
#
CONFIG_USE_COMPILE_CHAIN=y
# CONFIG_USE_NEWLIB is not set
# CONFIG_USE_USER_DEFINED is not set
# end of Lib

# CONFIG_ENABLE_CXX is not set

#
# Linker Options
#
CONFIG_DEFAULT_LINKER_SCRIPT=y
# CONFIG_USER_DEFINED_LD is not set
CONFIG_IMAGE_LOAD_ADDRESS=0xb0100000
CONFIG_IMAGE_MAX_LENGTH=0x1000000
CONFIG_HEAP_SIZE=1
CONFIG_SVC_STACK_SIZE=0x1000
CONFIG_SYS_STACK_SIZE=0x1000
CONFIG_IRQ_STACK_SIZE=0x1000
CONFIG_ABORT_STACK_SIZE=0x1000
CONFIG_FIQ_STACK_SIZE=0x1000
CONFIG_UNDEF_STACK_SIZE=0x1000
# end of Linker Options
# end of Build setup
