#
# For a description of the syntax of this configuration file,
# see tools/kconfiglib/kconfig-language.txt.
#


mainmenu "Phytium Freertos Configuration"

	menu "Project Configuration"

		menu " Freertos Configuration"
		config TARGET_NAME
			string "Build Target Name"
			default "openamp_core0"
			help
				Build Target name for the demo
	
		config SHM_BASE_ADDR
			hex "Share memory address set"
			default 0xc0000000

	endmenu


	menu "AMP Config"

		config IPI_IRQ_NUM
			int "Communication interruption number between multiple cores"
			default 0
		
		config IPI_IRQ_NUM_PRIORITY
			int "Priority of internuclear communication interruption"
			default 16
		
		config SPIN_MEM
			hex "Spin-lock shared memory"
			default 0x80000000

		config TARGET_CPU_ID
			int "Destination CPU id"
			default 1

		config IPI_CHN_BITMASK
			int "Destination IPI mask"
			default 1
			help
				Each bit represents a CPU, for example, 0x3 represents CPU 0 and CPU 3 in the code.
		
		config DEBUG_CODE
			bool
			prompt "DEBUG_CODE"
			default 1
			help
				Debug mode means using two bare metal code to simulate the operation of OpenAMP program
		
	endmenu
	
endmenu

source "$(SDK_DIR)/../freertos.kconfig"

